@import './login.css';

.icon-flipped {
  transform: scaleX(-1);
}

.ddi-input {
  width: 45px;
  text-align: center;
  border: none;
  outline: none;
  font-size: 16px;
  color: var(--color4);
  background: transparent;
  font-weight: bold;
}

.ddd-input {
  width: 35px;
  text-align: center;
  margin-right: 10px;
  border: none;
  border-right: 1px solid #eee;
  border-left: 1px solid #eee;
  outline: none;
  font-size: 16px;
  color: var(--color5);
  background: transparent;
  font-weight: bold;
}

.number-input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
  color: var(--color5);
  background: transparent;
}