:root {
  --color1: #b7aea5;
  --color2: #eb6b17;
  --color3: #e33c08;
  --color4: #706e6e;
  --color5: #221d21;
}
.ativo{
  border-bottom: 3px solid var(--color3);
  border-radius: 2.5px;
  padding-bottom: 2px;
}

.lanches-image {
  width: 100%;
  height: 300px;
}
nav {
  display: flex;
  gap: 20px;
  background-color: white;
  padding: 15px;
  margin-top: -4px;
}

nav a {
  text-decoration: none;
  color: var(--color5);
  font-weight: bold;
}
#login{
    text-align: center;
    font-size: 20px;
    background-color: var(--color1);
    padding: 15px;
    border-radius: 10px;
    width: 150px;
    margin: 50px auto;
}