@import url("../style.css");

.fundo_login{
  display: flex;
  background-image: url("../../assets/fundo-login.jpeg");

  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color: #f5f5f5;

  min-height: 100vh; 
  width: 100%;
 
}
