@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Roboto:wght@400;500&display=swap");

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}
.fundo_login{
  display: flex;
  background-image: url("../../assets/fundo-login.jpeg");

  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color: #f5f5f5;

  min-height: 100vh; 
  width: 100%;
 
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
}

.titulo{
    text-align: center;
    margin-top: 50px;
    font-size: 35px;
}

#conteiner {
  display: flex;
  border: 2px solid #ffffff;
  border-radius: 50px;
  height: 350px;
  width: 250px;
  margin-top: 100px;
  margin-left: 30px;
  justify-content: center;
}

.inputBox {
  display: flex;
  background-color: #f5f5f5;
  border-radius: 10px;
  height: 35px;
  width: 200px;
  margin: 20px;
}
.inputBox input {
  border: none;
  outline: none;
  background: transparent;
  width: 150px;
  border-radius: 10px;
}
.inputBox label {
  margin-left: 10px;
  color: #333;
  font-size: 14px;
  margin: auto;
}

#conteiner button { 
  border: none;
  height: 35px;
  width: 100px;
  background-color: #333;
  color: #f5f5f5;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 70px;
}
#conteiner p{
  text-align: center;
  font-size: 14px;
  margin-bottom: -10px;
}

#conteiner a{
  color: #ff3434;
  text-decoration: none;
}



