#configuracao {
  margin: auto;
  margin-top: 30px;
  background-color: #d5d5d5;
  width: 300px;
  height: 500px;
}

.cabecalho {
  background-color: #aeaeae;
  height: 70px;
}
.cabecalho p{
    margin: 0px;
}