#configuracao {
  margin: auto;
  margin-top: 30px;
  background-color: #d5d5d5;
  width: 300px;
  height: 380px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.cabecalho {
  background-color: #aeaeae;
  height: 80px;
  width: 100%;
  border-radius: 15px 15px 0 0;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
  box-sizing: border-box;
}

.cabecalho p {
  margin: 3px 0;
  font-weight: bold;
  color: #333;
}

.cod {
  font-size: 13px;
  color: #555;
  font-weight: normal !important;
}

.conficuracos {
  width: 230px;
  height: 35px;
  background-color: white;
  border-radius: 50px;
  text-decoration: none;
  color: #333;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.conficuracos:hover {
  background-color: #f0f8ff;
}

.exit {
  width: 90px;
  height: 30px;
  background-color: white;
  border-radius: 50px;
  color: #333;
  border: none;
  font-weight: bold;
  cursor: pointer;
  
  align-self: flex-start;
  margin-left: 35px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.exit:hover {
  background-color: #ffe6e6;
  color: #d32f2f;
}