#conteinerCriarCatecoria {
  margin: 30px auto;
  width: 300px;
  height: 550px;

  background-color: #d5d5d5;
  border-radius: 30px;

  display: flex;
  flex-direction: column;

  overflow: hidden;
}
#cabecalhoCadastrarCategoria {
  background-color: #aeaeae;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputBoxImg input {
  display: none;
}
.inputBoxImg label {
  display: flex;
  justify-content: center;
  padding-top: 2px;
}
#btnCategoria {
  margin-left: 20px;
  background-color: #ffffff;
  width: 120px;
  height: 23px;
  border-radius: 50px;
}

#divImagem {
  margin-top: 5px;
  margin-left: 20px;
  background-color: #f5f5f5;
  width: 200px;
  height: 200px;
  margin-bottom: 90px;
}
#divImagem img{
    height: 200px;
    width: 200px;
}
#divImagem p{
color: #333;
text-align: center;
padding-top: 80px;
}
#divCadastarCategoria {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bcbcbc;
  height: 80px;
}
#divCadastarCategoria button {
  border: none;
  background-color: #fff;
  height: 23px;
  border-radius: 50px;
}
