#conteinerCatecoria {
  margin: 30px auto;
  width: 300px;
  height: 550px;

  background-color: #d5d5d5;
  border-radius: 30px;

  display: flex;
  flex-direction: column;

  overflow: hidden;
}

#cabecalhoCategoria {
  background-color: #aeaeae;
  height: 70px;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: bold;
  font-size: 18px;
  color: #333;
}

#categorias {
  background-color: #e4e3e3;
  width: 100%;

  flex: 1;

  overflow-y: auto;

  padding-top: 10px;
  padding-bottom: 10px;
}
#categorias::-webkit-scrollbar {
  width: 0px;               
  background: transparent;
}

#categorias {
  scrollbar-width: none;   }
.cartaoCategoria {
  background-color: #cac9c9;
  border-radius: 20px;
  width: 90%;
  height: 80px;
  margin: 0 auto 10px auto;

  display: flex;
  align-items: center;
  padding: 0 10px;
}

.cartaoCategoria img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #d6d6d6;
  object-fit: cover;
  border: 2px solid #fff;
}

.cartaoCategoria p {
  color: #333;
  font-size: 14px;
  font-weight: bold;
  margin-left: 15px;
}

.apagarCategoria {
  background-color: #ff3232;
  color: white;
  border: none;
  border-radius: 50px;
  width: 70px;
  height: 30px;
  font-weight: bold;
  cursor: pointer;

  margin-left: auto;
}

.divCadastar {
  background-color: #d5d5d5;
  height: 80px;

  display: flex;
  justify-content: center;
  align-items: center;
}
