@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Roboto:wght@400;500&display=swap");


body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
}



.titulo{
    text-align: center;
    margin-top: 50px;
    font-size: 35px;
}

#conteiner {
  display: flex;
  border: 2px solid #ffffff;
  border-radius: 50px;
  height: 350px;
  width: 250px;
  margin-top: 100px;
  margin-left: 30px;
  justify-content: center;
}

.inputBox {
  display: flex;
  background-color: #f5f5f5;
  border-radius: 10px;
  height: 35px;
  width: 200px;
  margin: 20px;
}
.inputBox input {
  border: none;
  outline: none;
  background: transparent;
  width: 150px;
  border-radius: 10px;
}
.inputBox label {
  margin-left: 10px;
  color: #333;
  font-size: 14px;
  margin: auto;
}

#conteiner button { 
  border: none;
  height: 35px;
  width: 100px;
  background-color: #333;
  color: #f5f5f5;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 70px;
}
#conteiner p{
  text-align: center;
  font-size: 14px;
  margin-bottom: -10px;
}

#conteiner a{
  color: #ff3434;
  text-decoration: none;
}

#menu{
    display:  flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0px;

    background-color: #d3d3d3; 
    width: 100%;
    height: 50px;
}

#menu a{
    color: #333;
    margin: 0px 30px 0px 30px;
    font-size: 30px;
}
.ativo{
    border-bottom: 4px solid #333;
    border-radius: 4px;
}

