#conteinerCriarIngrediente {
  margin: 30px auto;
  width: 300px;
  height: 550px;

  background-color: #d5d5d5;
  border-radius: 30px;

  display: flex;
  flex-direction: column;

  overflow: hidden;
}

#cabecalhoCadastrarIngrediente {
  background-color: #aeaeae;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}
#divCadastarIngrediente {
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bcbcbc;
  height: 80px;
}

#divCadastarIngrediente button {
  border: none;
  background-color: #fff;
  height: 23px;
  width: 120px;
  border-radius: 50px;
  cursor: pointer;
}
