#conteinerIngredientes {
  margin: auto;
  margin-top: 30px;

  background-color: #d5d5d5;
  width: 450px;
  height: 600px;
  border-radius: 50px;
}
#cabecalhoIngredientes {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #aeaeae;
  width: 100%;
  height: 70px;
  border-radius: 50px 50px 0px 0px;
}
#ingredientes {
  background-color: #e4e3e3;
  height: 430px;
  width: 100%;

  overflow-y: auto;

  padding-top: 10px;
  padding-bottom: 10px;
}
#ingredientes::-webkit-scrollbar {
  width: 0px;               
  background: transparent;
}

#cartaoIngrediente {
  border-bottom: 1px solid black;
  height: 19px;
  padding: 2px 4px;
  margin-bottom: 3px;
}
#cartaoIngrediente #nome {
  display: inline-flex;
  margin-left: 10px;
  width: 170px;
}
#cartaoIngrediente .dados {
  display: inline-flex;
  width: 50px;
}
#cartaoIngrediente span {
  text-align: center;
  color: #333;
  font-size: 13px;
}
#divNone {
  display: none;
}
#apagarConfirma {
  position: fixed;
  width: 500px;
  background-color: #ffffff;
  left: 430px;
  top: 150px;
}
#apagarConfirma h2 {
  color: red;
  text-align: center;
}
#apagarConfirma p {
  text-align: center;
  color: #333;
  margin: 10px 10px 30px 10px;
}
#apagarConfirma button {
  margin-bottom: 10px;
  margin-left: 10px;
}
#updateIngrediente {
  text-decoration: none;
  background-color: rgb(0, 4, 255);
  color: #fff;
  border-radius: 5px;
  padding: 1px 5px ;
  margin-right: 5px;
}
#apagarIngrediente{
    border: none;
    background-color: red;
    width: 50px;
    border-radius: 5px;
    height: 20px;
    padding-top: 2px;    
}
