@import url("../style.css");
.titulo-cadastra {
  text-align: center;
  margin-top: 50px;
  font-size: 35px;
}
.fundo_cadastrar {
  display: flex;
  background-image: url("../../assets/fundo-cadastrar.png");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;

  min-height: 100vh;
  width: 100%;
}

#conteiner-cadastra {
  display: flex;
  margin-top: 40px;
  margin-left: 20px;
  border: 2px solid #fff;
  border-radius: 50px;
  width: 300px;
  height: 600px;
  justify-content: center;
}

#conteiner-cadastra button { 
  border: none;
  height: 35px;
  width: 100px;
  background-color: #333;
  color: #f5f5f5;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 70px;
}
#conteiner-cadastra a{
  color: #ff3434;
  text-decoration: none;
}
#conteiner-cadastra p{
  text-align: center;
}



