.conteinerEndereco {
  margin: auto;
  margin-top: 30px;
  width: 300px;
  background-color: #d5d5d5;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}
.conteinerEndereco button { 
  border: none;
  height: 35px;
  width: 100px;
  background-color: #fff;
  color: #333;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 70px;
  margin-bottom: 10px;
}
