.conteinerEndereco {
  margin: auto;
  margin-top: 30px;
  width: 300px;
  background-color: #d5d5d5;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}
.conteinerEndereco button { 
  border: none;
  height: 35px;
  width: 100px;
  background-color: #fff;
  color: #333;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 70px;
  margin-bottom: 10px;
}

.inputBoxEndereco {
  display: flex;
  background-color: #f5f5f5;
  border-radius: 10px;
  height: 35px;
  width: 200px;
  margin: 20px;
}
.inputBoxEndereco input {
  border: none;
  outline: none;
  background: transparent;
  width: 100px;
  border-radius: 10px;
}
.inputBoxEndereco label {
  margin-left: 10px;
  color: #333;
  font-size: 14px;
  margin: auto;
}
