#conteinerEnderecos {
  margin: auto;
  margin-top: 30px;
  background-color: #d5d5d5;
  width: 300px;
  height: 480px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.cabecalhoEnderecos {
  background-color: #aeaeae;
  height: 80px;
  width: 100%;
  border-radius: 15px 15px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 5px;
  box-sizing: border-box;
}
#enderecos {
  background-color: #e4e3e3;
  height: 330px; 
  width: 100%;
  overflow-y: auto; 
}
#enderecos::-webkit-scrollbar {
  display: none;
}

.cartaoEnderecos {
  background-color: #cac9c9;
  border-radius: 20px;
  width: 95%;
  margin: auto;
  margin-top: 5px;
}
.cartaoEnderecos p {
  color: #333;
  margin: 0;
  margin-left: 10px;
  margin-bottom: 3px;
  font-size: 15px;
}
#apagar {
  width: 80px;
  height: 24px;
  background-color: #FF3232;
  border-radius: 50px;
  color: #333;
  font-weight: bold;
  border: none;
  margin-bottom: 5px;
  padding-bottom: 0px;
  margin-left: 195px;
  cursor: pointer;
}
.CadastraEndereco {
  width: 100px;
  height: 30px;
  background-color: white;
  border-radius: 50px;
  color: #333;
  font-weight: bold;
  text-decoration: none;

  align-self: flex-start;
  margin-left: 15px;
  margin-top: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}