#conteiner_editar {
  margin: auto;
  margin-top: 30px;
  background-color: #d5d5d5;
  width: 300px;
  height: 300px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
.tituloEditar{
  font-size: 25px;

}


.inputBox_sobre {
  display: flex;
  background-color: #f5f5f5;
  border-radius: 10px;
  height: 35px;
  width: 200px;
  margin: 20px;
}
.inputBox_sobre input {
  border: none;
  outline: none;
  background: transparent;
  width: 110px;
  border-radius: 10px;
}
.inputBox_sobre label {
  margin-left: 10px;
  color: #333;
  font-size: 14px;
  margin: auto;
}

#conteiner_editar button {
  border: none;
  height: 35px;
  width: 100px;
  background-color: #333;
  color: #f5f5f5;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 70px;
}
