
#menu{
    display:  flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0px;

    background-color: #d3d3d3; 
    width: 100%;
    height: 50px;
}

#menu a{
    color: #333;
    margin: 0px 30px 0px 30px;
    font-size: 30px;
}
.ativo{
    border-bottom: 4px solid #333;
    border-radius: 4px;
}